div(ng-include='"components/navbar/navbar.html"')

header#banner
  .container
    h1 Time for Grooming!
    p.lead Planning Poker App

.container(ng-show=)
  .row
    .col-lg-12
      .h1 Start new session.
      button.btn.btn-primary Start

//.container
  .row
    .col-lg-12
      h1.page-header Features:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in awesomeThings')
        li
          a(href='#', tooltip='{{thing.info}}')
            | {{thing.name}}
            button.close(type='button', ng-click='deleteThing(thing)') ×

  form.thing-form
  label Syncs in realtime across clients
    p.input-group
      input.form-control(type='text', placeholder='Add a new thing here.', ng-model='newThing')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='addThing()') Add New

.container(ng-show='isLoggedIn()', ng-hide='session')
  .row
    .col-lg-12
      button.btn.btn-primary(ng-click='startSession()') Start new Session
      
.container(ng-show='session')
  .row
    .col-lg-12
      Session url: http://xxx/{{session._id}}

.container(ng-hide='isLoggedIn()')
  .row
    .col-lg-12
      a(href='/login')
        button.btn.btn-primary.btn-lg.center-block Login or Register


footer.footer
  .container
    p
      | Angular Fullstack v2.1.1
      = ' | '
      a(href='https://twitter.com/tyhenkel') @tyhenkel
      = ' | '
      a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues
